body {
    min-height: 100vh;
    background-color: #F1ecde;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: #f1ecde;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*Navigation*/
.logo{
    font-size: 32px;
    font-family: "League Spartan", Black ;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.logo img {
    width: 170px;
    height: auto;
}

.navbar a{
    font-size: 18px;
    font-family:  "League Spartan", Black;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 100px;
}

.navbar a:hover {
    color: #DB993D;
}

/*Velkommen*/
.hero {
    color: #000;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 50px;
    font-family: "League Spartan", Black;
}

.hero p {
    font-size: 20px;
}

.hero-image img {
    width: 100%;
    height: auto; 
}

h2{
    font-size: 40px;
    font-family: "League Spartan", Black;
    margin-left: 50px;
}

h3{
    font-family: "League Spartan", Black;
    font-size: 30px;  
    text-align: center;
  }

h4{
    text-align: center;
    font-size: 35px;
    font-family: "League Spartan", Black;
}

  .infotekst{
    font-size: 18px;
    font-family: "League Spartan";
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
  }

  .tekstboks{
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    font-family: "League Spartan", Black;
  }

  .tekstboks_fakta{
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    font-family: "League Spartan", Black;
  }

/*Forside beagle*/
  .kolonne1 {
    display: flex;
  }
  
  article{
      height: auto; 
      width: 40%;
      margin-left: 100px;
      margin-top: 120px;
  }
  
  aside{
      height: auto;
      width: 60%;
      margin-top: 120px;
  }

  .beagleimg{
    width: 500px;
    margin-bottom: 500px;
  }

  .infoimg{
    width: 800px;
  }

  /*Info beagle*/
  .kolonne2{
    display: flex;
  }
  
  .kolonne2 article{
      height: auto; 
      padding: 1em;
      width: 70%;
      margin: 0 0 0 1em; 
      margin-top: -500px;
      margin-left: 20px;
      margin-bottom: 50px;
  }
  
  .kolonne2 aside{
    background-color: #C0ae9c;
      height: 850px;
      padding: 1em;
      width: 28%;
      margin: 0 1em 0 1em;
    border-radius: 8px;
    margin-right: 50px;
    margin-top: -430px
  }

/*Forside bokse*/
.forside_container {
    display: flex;
    justify-content: space-between;
    margin-top: -80px;
}

.box {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box h2 {
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 20px;
    text-align: center;
}

.box button {
    background-color: #C0ae9c;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    align-content: center;
    margin-left: 150px;
    font-family: "League Spartan";
    font-size: 20px; 
}

.box button:hover {
    background-color: #DB993D;
}

 /* .scrollx */
 .scrollx {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    overflow-x: scroll;
    max-width: 100vw;
    background-color: #DB993D;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    
}
.scrollx div {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    height: 450px;
    background: #fff;
}

.scrollx img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

/* end .scrollx */

/* bokse */
.container {
    display: flex;
}

.box {
    flex: 1;
    padding: 20px;
    text-align: left;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
 
}

.box img {
    width: 300px;
    height: auto;
    margin-left: 50px;
}

.dog-image {
    max-width: 250px;
    height: auto;
}

.p_overskrift {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "League Spartan", Black;
    font-size: 25px; 
}

.box p {
    margin-bottom: 10px;
    line-height: 1.5;
    font-family: "League Spartan"
}

.box button {
    background-color: #C0ae9c;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    align-content: center;
    margin-left: 150px;
    font-family: "League Spartan";
    font-size: 20px; 
}

.box button:hover {
    background-color: #DB993D;
}

/*footer*/

.footer {
    background-image: url('footerstor.png');
    background-size: cover;
    color: #000;
    padding: 20px 0;
    text-align: center;
}

.contact-info p, .faq p {
    margin: 5px 0;
}

.contact-info a, .faq a {
    color: #000;
    text-decoration: none;
}

